<div class="container-fluid">
	<div>
		<h3 style="text-align: center;">Terms and Conditions</h3>
	</div>
	<div class="card card-body">
		<h4>
			<strong>AmerisourceBergen<sup>®</sup> Web Site Agreement
			</strong>
		</h4>
		
		<p>
			<strong>Your Use Of The Web Site Is Expressly Conditioned
				Upon Your Accepting And Agreeing To These Terms Of Use</strong>
		</p>
		
		<p>AmerisourceBergen Corporation ("AmerisourceBergen") and its
			subsidiaries maintain this AmerisourceBergen.com web site and related
			websites that refer to these Terms of Use (the "Web Site") as a
			service to its customers that prefer to use the Internet, subject to
			your compliance with these Terms of Use. Because these Terms of Use
			constitute an agreement between you and AmerisourceBergen, they are
			sometimes referred to as “this Agreement” or simply “these terms.”
			Please read this Agreement carefully before accessing or using the
			Web Site. By using this Web Site you agree to be bound by the terms
			of this Agreement. If you do not wish to be bound by these terms, you
			may not access or use the Web Site and you must terminate your use
			immediately. AmerisourceBergen may modify this Agreement at any time
			and from time to time, and such modifications will be effective
			immediately upon posting the modified Agreement. You agree to review
			the Agreement periodically to be aware of such modifications and your
			continued access or use of the Web Site after any modification will
			be deemed your conclusive acceptance of the modified Agreement.
			Proceeding to use the Web Site indicates your acknowledgment you have
			read and accepted these terms and conditions. You may print a copy of
			these Terms of Use for your records at any time by using the "print"
			function on your internet browser.</p>
		
		<p>
			<strong> COPYRIGHTS</strong>
		</p>
		
		<p>Copyright ©1996-2009 AmerisourceBergen Corporation. All rights
			reserved. The entire contents of this Web Site are copyrighted under
			United States copyright laws by AmerisourceBergen. No part of this
			Web Site may be reproduced, stored in a retrieval system, transmitted
			or retransmitted in any form or by any means, electronic, mechanical,
			photocopying, recording or otherwise, without the prior written
			permission of AmerisourceBergen. You may print and download portions
			of material from the different areas of the Web Site solely for your
			own informational, non-commercial, individual and internal reference,
			provided that you reproduce the copyright notice which appears in the
			first line of this Section on Copyrights. Software and other material
			downloaded from the Web Site ("Software") is the property of
			AmerisourceBergen or its licensors and is protected by United States
			and international copyright and intellectual property laws and treaty
			provisions. All rights to patents, copyrights, trademarks, service
			marks, trade secrets and other intangible property rights in the
			Software or any modifications to it shall remain in AmerisourceBergen
			and its licensors. You may not modify, reverse engineer, decompile,
			disassemble or create derivative works based on the Software, or
			remove any proprietary notices or labels that it contains. Subject to
			the foregoing, you may make: (a) one machine-readable copy, (b) one
			backup copy, and (c) one print copy of any portions of material
			downloaded from different areas of the Web Site solely for your own
			informational, non-commercial, individual reference, provided that
			you reproduce the copyright notice which appears in the first line of
			this Section on Copyrights. Any other copying, distribution or
			publication is strictly prohibited without the express prior written
			consent of AmerisourceBergen. Any unauthorized use terminates the
			permission or license granted by AmerisourceBergen. DIGITAL
			MILLENNIUM COPYRIGHT ACT The Digital Millennium Copyright Act of 1998
			(the "DMCA") provides recourse for copyright owners who believe that
			material appearing on the Internet infringes their rights under U.S.
			copyright law. If you believe that your work has been copied and
			posted on the Web Site in a way that constitutes copyright
			infringement, please provide us with the following information: (1)
			an electronic or physical signature of the copyright owner or of the
			person authorized to act on behalf of the owner of the copyright
			interest; (2) a description of the copyrighted work that you claim
			has been infringed; (3) a description of where the material that you
			claim is infringing is located on the Web Site; (4) your address,
			telephone number, and e-mail address; (5) a written statement by you
			that you have a good faith belief that the disputed use is not
			authorized by the copyright owner, its agent, or the law; and (6) a
			statement by you, made under penalty of perjury, that the above
			information in your notice is accurate and that you are the copyright
			owner or authorized to act on the copyright owner's behalf. Any
			notification by a copyright owner or a person authorized to act on
			its behalf that fails to comply with requirements of the DMCA shall
			not be considered sufficient notice and shall not be deemed to confer
			upon AmerisourceBergen actual knowledge of facts or circumstances
			from which infringing material or acts are evident.
			AmerisourceBergen’s notice address for claims of copyright
			infringement is:</p>
		
		<p>AmerisourceBergen Corporation</p>
		<p>1300 Morris Drive Chesterbrook, PA 19087</p>
		
		<p>
			<strong> Attn: General Counsel</strong>
		</p>
		
		<p>We suggest that you consult your legal advisor before filing a
			copyright infringement notice. You should note that there can be
			penalties for false claims under the DMCA. USER PROVIDED INFORMATION
			AND USER GENERATED CONTENT AmerisourceBergen does not want to receive
			confidential or proprietary information from you and, as such, any
			information you provide to AmerisourceBergen through the Web Site,
			such as questions, comments, suggestions, ideas, or the like will be
			provided without obligation of any kind, and AmerisourceBergen will
			be free to reproduce, use, disclose and distribute such information
			to others without limitation. You agree to grant to AmerisourceBergen
			a non-exclusive, royalty-free, worldwide, perpetual license, with the
			right to use, sublicense, reproduce, distribute, create derivative
			works of, publicly display and publicly perform any materials and
			other information (including, without limitation, ideas for new or
			improved products and services) you submit to AmerisourceBergen
			through the Web Site (including through e-mail, bulletin boards,
			forums or news groups) by any means and in any medium. You also grant
			to AmerisourceBergen the right to use your name in connection with
			the submitted materials and other information as well as in
			connection with all advertising and promotional material related to
			it. You agree that you will have no recourse against
			AmerisourceBergen for any infringement or misappropriation of any
			proprietary right in your communications to us. E-mail submissions
			over the Internet may not be secure and are subject to the risk of
			interception by third parties. Please consider this fact before
			e-mailing any information. You agree not to submit or transmit any
			e-mails or materials through the Web Site that (i) are defamatory,
			threatening, obscene or harassing, (ii) contain a virus, worm, Trojan
			horse or any other harmful component, (iii) incorporate copyrighted
			or other proprietary material of any third party without that party's
			permission or (iv) otherwise violate any applicable laws or
			regulations. AmerisourceBergen shall not be subject to any
			obligations of confidentiality regarding any information or materials
			that you submit online except as specified in these Terms of Use, or
			as set forth in any additional terms and conditions relating to
			specific products or services, or as otherwise specifically agreed or
			required by law or regulation.</p>
		
		<p>
			<strong>TRADEMARKS</strong>
		</p>
		
		<p>AmerisourceBergen service and product names, including
			AmerisourceBergen®, are trademarks and/or service marks of
			AmerisourceBergen Corporation and/or its subsidiaries. A complete
			list of our trademarks and service marks can be viewed here [link to
			full list]. These and all other names, logos and marks on the Web
			Site are owned or licensed by AmerisourceBergen and may not be used
			by you without express prior written permission from
			AmerisourceBergen.</p>
		
		<p>
			<strong>INCLUSION OF OTHER NOTICES AND TERMS</strong>
		</p>
		
		<p>
			This Web Site may contain other notices, terms and conditions and
			copyright information, including AmerisourceBergen’s home page <a
				href="http://www.amerisourcebergen.com/">http://www.AmerisourceBergen.com/</a>,
			the terms of all of which must be observed and followed. Information
			provided on this Web Site does not constitute an offer to sell any
			particular product or service or engage in any other commercial
			transaction until AmerisourceBergen accepts your order. You may have
			other agreements with AmerisourceBergen. Those agreements are
			separate and in addition to these Terms of Use. These Terms of Use do
			not modify, revise or amend the terms of any other agreements you may
			have with AmerisourceBergen.
		</p>
		
		<p>
			<strong>LINKS</strong>
		</p>
		
		<p>Links in the Web Site may let you leave AmerisourceBergen’s Web
			Site. The linked sites are not under the control of AmerisourceBergen
			and AmerisourceBergen is not responsible for the contents of any
			linked site or any link contained in a linked site, or any changes or
			updates to such sites. AmerisourceBergen is providing these links to
			you only as a convenience, and the inclusion of any link does not
			imply endorsement or adoption by AmerisourceBergen of the site. It is
			up to you to take precautions to ensure that whatever you select for
			your use is free of such items as infection viruses, worms, Trojan
			horses or other code that manifests contaminating or destructive
			properties and other items of a harmful or destructive nature. It is
			also your responsibility to review the privacy statements on any
			linked sites because their privacy rules may be different than
			AmerisourceBergen’s and AmerisourceBergen is not responsible for
			their privacy statements or practices. You can view our privacy
			statement here [link]. You should also review the terms and
			conditions of any linked sites. AmerisourceBergen welcomes bookmarks
			and links to its Web Site. You are free to establish a hypertext link
			to this Web Site as long as the link does not state or imply any
			sponsorship or endorsement of your site by AmerisourceBergen or any
			of its affiliates. You may not frame any content of this Web Site or
			utilize any framing techniques in any way, including but not limited
			to enclosing any trademark, logo, or other proprietary information
			(including images, text, page layout, or form), without
			AmerisourceBergen 's prior written consent. Nor may you incorporate
			any intellectual property of this Web Site. AmerisourceBergen does
			not want anyone to be confused as to which information and services
			are provided by AmerisourceBergen and which are not. You may not use
			any meta tags or any other "hidden text" utilizing
			AmerisourceBergen’s name or trademarks without the express written
			consent of AmerisourceBergen.</p>
		
		<p>
			<strong>LIMITS ON ACCURACY</strong>
		</p>
		
		<p>The Web Site was developed as a service by AmerisourceBergen to
			provide information about its products and services. Information is
			believed to be accurate at the time it is created. However, like any
			printed material, information may become outdated over time. It is
			important that you rely on the advice of an appropriate professional
			when interpreting and using this information. Nothing contained in
			any presentation is to be construed as medical, legal, investment,
			financial or other advice. This information is not intended to be a
			substitute for such advice. AmerisourceBergen makes no warranties or
			representations as to the accuracy of any information on the Web
			Site. All users agree that all access to and use of the Web Site is
			at their own risk. Information on the Web Site may contain technical
			inaccuracies or typographical errors. Information may be changed or
			updated without notice. AmerisourceBergen may also make improvements
			and changes in the products and services described in the Web Site at
			any time without notice.</p>
		
		<p>
			<strong>PRODUCTS/PROGRAMS NOT AVAILABLE EVERYWHERE</strong>
		</p>
		
		<p>Information AmerisourceBergen publishes on the Web Site may
			contain references or cross-references to AmerisourceBergen products
			and services that are not announced or available in your locale. Such
			references do not imply that AmerisourceBergen intends to announce
			such products or services in your locale. To ensure that you have
			current and accurate information about products and services of
			interest to you, please contact your local AmerisourceBergen
			representative.</p>
		
		<p>
			<strong>NO UNLAWFUL OR PROHIBITED USE</strong>
		</p>
		
		<p>As a condition of your use of the Web Site and Software, you
			agree not to use the Web Site or Software for any purpose that is
			unlawful or prohibited by these terms, conditions, and notices. You
			agree not to use the Web Site or Software in any manner that could
			damage, disable, overburden, or impair any AmerisourceBergen server,
			or the network(s) connected to any AmerisourceBergen server, or
			interfere with any other party's use and enjoyment of the Web Site
			and Software. You agree not to attempt to gain unauthorized access to
			the Web Site or Software, other accounts, computer systems or
			networks connected to any AmerisourceBergen server or to the Web
			Site, through hacking, password mining or any other means. You also
			agree to not obtain or attempt to obtain any materials or information
			through any means not intentionally made available through the Web
			Site or Software.</p>
		
		<p>
			<strong> SECURITY</strong>
		</p>
		
		<p>Although AmerisourceBergen makes a genuine effort to ensure the
			security of information and transactions conducted on its Web Site,
			including employing encryption technology, it cannot and does not
			guarantee communications and transactions conducted online will be
			secure. You acknowledge this and that system failures may limit your
			ability to use the online services. You agree to assume all risk and
			liability arising from your use of AmerisourceBergen's online
			services, including the risk posed by any breach in the security of
			communications and transactions you conduct with AmerisourceBergen
			online. You are solely responsible for maintaining the
			confidentiality of your password and other security devices and agree
			AmerisourceBergen will have no obligation with regard to them. You
			are also entirely responsible for any and all activities that occur
			under your account and you may not use anyone else's account at any
			time without the permission of the account holder. You agree to
			notify AmerisourceBergen immediately of any unauthorized use of your
			account or any other breach of security. AmerisourceBergen will not
			be liable for any loss that you may incur as a result of someone else
			using your password or account, either with or without your
			knowledge. However, you could be held liable for losses incurred by
			AmerisourceBergen or another party due to someone else using your
			account or password. For purposes of identification, billing and
			marketing, you agree to provide AmerisourceBergen with accurate,
			complete and up-to-date information required for the services and,
			specifically, you agree to notify AmerisourceBergen within 20 days of
			any changes in any such information.</p>
		
		<p>
			<strong> DISCLAIMER &amp; LIMIT ON DAMAGES</strong>
		</p>
		
		<p>You understand that AmerisourceBergen cannot and does not
			guarantee that any software or other material available from or on
			this Web Site will be free of infection, viruses or other code that
			manifest contaminating or destructive properties. You are responsible
			for implementing sufficient procedures and checkpoints to satisfy
			your particular requirements for accuracy of data input and output,
			and for maintaining a means external to the Web Site for the
			reconstruction of any lost data. You assume all responsibility and
			risk for your use of the Web Site, including your responsibility to
			evaluate the accuracy, completeness and usefulness of all material
			and reports provided through or generated by the Web Site.
			AmerisourceBergen does not warrant that the Web Site will be
			uninterrupted or error-free or that defects in the Web Site will be
			corrected. Software or other material provided on this Web Site and
			related communications are provided "as is" for information purposes
			only and AmerisourceBergen makes no guarantee or warranty with
			respect to correctness, reliability, accuracy or appropriateness of
			the material or the results obtained from the use of the services
			provided on the Web Site. In addition, all warranties, either express
			or implied, are hereby disclaimed, including warranties of
			performance, merchantability, fitness for a particular purpose (even
			if AmerisourceBergen or its authorized representatives have been
			advised of the possibility of any such purpose), or non-infringement.
			AmerisourceBergen has no obligation or duty to update any information
			on this Web Site. In no event will AmerisourceBergen or any party
			involved in creating, producing, hosting or distributing the Web Site
			be liable to any party for any direct, indirect, special or other
			consequential damages, including, without limitation, any lost
			profits, business interruption, loss of programs or other data on
			your information handling system or otherwise, even if
			AmerisourceBergen or its authorized representatives have been advised
			of the possibility of such damages, for any claim attributable to use
			of this Web Site, including any damages due to errors, omissions, or
			other inaccuracies in the Web Site or software or other material
			downloaded through or hyper linked from the Web Site. In any event,
			the total of all damages, including direct damages (whether grounded
			in contract, tort or otherwise) arising under or related to the Web
			Site, or the results obtained therefrom, will be limited to the
			aggregate amount of all sums paid by you to AmerisourceBergen for
			services provided through the web site during the one (1) month prior
			to the date on which such damages were first incurred, or if you do
			not pay for any services rendered to you through this Web Site, $100.
			Because some states do not allow the exclusion of implied warranties
			or limitation of liability for consequential or incidental damages,
			the above may not apply to you. In such states, AmerisourceBergen’s
			liability is limited to the greatest extent permitted by law.</p>
		
		<p>
			<strong>ORDERING SYSTEM DISCLAIMER</strong>
		</p>
		
		<p>This system is designed solely for ordering drugs and other
			products. Although some products may appear to be the generic or
			therapeutic equivalent of the original product, their equivalencies
			may differ. For professional information including product
			substitution data and to insure complete patient safety, please refer
			to a USP/DI or other professional resource.</p>
		
		<p>
			<strong>INDEMNITY</strong>
		</p>
		
		<p>You agree to indemnify, defend and hold harmless
			AmerisourceBergen and its affiliates and their respective officers,
			directors, employees, agents, licensors, suppliers and any
			third-party information providers to the Web Site from and against
			all losses, expenses, damages and costs, including reasonable
			attorneys' fees, resulting from any information you provide or from
			any violation of this Agreement by you.</p>
		
		<p>
			<strong> APPLICABLE LAW</strong>
		</p>
		
		<p>No information on this Web Site will be construed so as to be
			contrary to law, and whenever there is a conflict between any
			provision of this Agreement and any present law or regulation
			contrary to which the parties may not agree, such law or regulation
			will prevail; however, in such event, the affected provisions will be
			limited only to the extent necessary to bring them within the
			requirements of the law and to otherwise carry out the purposes of
			this Agreement. By accessing or using the Web Site, you agree it is
			intended to be accessed and used only within the United States,
			Canada and the United Kingdom, and will be only construed according
			to United States law. Any access or use from other locations is
			subject to your compliance with all applicable local laws.
			AmerisourceBergen makes no representation that material on the Web
			Site is appropriate outside the United States, Canada or the United
			Kingdom. Information concerning pharmaceutical distribution services
			applies only to services provided within these countries and is
			subject to all applicable state and local laws.</p>
		
		<p>
			<strong> GENERAL</strong>
		</p>
		
		<p>This Agreement will all be governed and construed in accordance
			with the internal laws of the Commonwealth of Pennsylvania applicable
			to agreements made and to be performed in Pennsylvania. You agree
			that any legal action or proceeding between AmerisourceBergen and you
			for any purpose concerning this Agreement or the parties' obligations
			hereunder will be brought exclusively in a federal or state court of
			competent jurisdiction sitting in Chester County, Pennsylvania, USA.
			Any claim or cause of action you may have with respect to the Web
			Site must be commenced within one (1) year after the claim or cause
			of action arises or such claim or cause of action is barred. Any
			rights not expressly granted herein are reserved to
			AmerisourceBergen. AmerisourceBergen’s failure to insist upon or
			enforce strict performance of any provision of this Agreement will
			not be construed as a waiver of any provision or right. Neither the
			course of conduct between the parties nor trade practice will act to
			modify any provision of this Agreement. AmerisourceBergen may assign
			its rights and duties under this Agreement to any party at any time
			without notice to you. All provisions of this Agreement will be
			deemed to be severable. This Agreement and its related documents
			supersede all prior oral and written representations and agreements,
			which may have been entered into by the parties to this Agreement
			that relate to the subject matter of this Agreement. Captions in this
			Agreement are intended for convenience of reference only. Words used
			in this Agreement, regardless of the number and gender specifically
			used, will be construed to include any other number, singular or
			plural, and any other gender, masculine, feminine, or neuter, as the
			context requires. This Agreement will benefit, and be binding upon,
			the successors and assigns of the parties to this Agreement. Neither
			party to this Agreement will be liable for its failure to perform an
			obligation under this Agreement if that failure results from any
			cause, except financial, beyond that party's reasonable control. Any
			provision of this Agreement may survive this Agreement's termination
			if the provision's context shows that the parties to this Agreement
			intended the provision to survive. Sponsor: AmerisourceBergen
			Corporation</p>
		
		<p>
			<strong>Corporate Headquarters</strong>
		</p>
		
		<p>1300 Morris Drive Suite 100</p>
		<p>Chesterbrook, PA 19087</p>
		<p>Phone: 1-800-829-3132</p>
		<p>
			E-mail: <a href="mailto:info*amerisourcebergen.com">info*amerisourcebergen.com</a>
		</p>
		
		
	</div>

</div>